
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* utilities  */

h1 {
    font-size: 50px;
    
}

h3{
    font: 30px;
    color: #82b74b;
}

h2 {
    color: #82b74b;
}

p{
    font-size: 18px;
}


body {
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.6;
}

img{
    width: 100%;
    height: 100%;
}



.landing {
    background-color: rgb(45, 45, 59);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
 }

 .landing .grid-1 {
    margin: auto;
    width: auto;
    color: white;
    padding: 20px;
    resize: vertical;
    overflow: auto;
    text-align: center;
    
  }

  .about {
    height: auto;
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.details .aboutme h3{
    color: #82b74b;
    font-weight: 900;
}

.about .photo{
    margin: 10px 30px;
    height: 450px;
    width: 440px;
    box-shadow: -2px 2px 10px;

}
  
  .photo img{
      border-radius: 10px 40px 10px;
  }

.details {
    margin: 10px 30px;
    width: 50%;
}

.details h3{
    color: rgb(3, 3, 7);
    font-size: 30px;
}

.container {
    background-color: rgb(185, 185, 185);
    width: 80%;
    border-radius: 5px;
}
.skills{
    margin-top: 30px;
    margin-bottom: 30px;
}
.skills p{
    margin-top: 10px;
    margin-bottom: 2px;
}
.skill {
    background-color: #82b74b;
    color: white;
    padding: 1%;
    margin-bottom: 20px;
    text-align: right;
    font-size: 10px;
    border-radius: 5px;
}

.aboutme {
    margin-bottom: 30px;
}

 .button {
    background-color:#82b74b;
    color: #fff;
    border-radius: 0.6rem;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    box-shadow: -5px 5px 10px rgb(199, 191, 191);
}

.button:hover {
    background-color: #425e24;
}

.html {
    width: 85%;
}

.css {
    width: 80%;
}

.Javascript {
    width: 65%;
}

.Bootstrap{
    width: 70%;
}

.Python{
    width: 45%;
}

.experiences{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.experiences h1 {
    color: #82b74b;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.border{
    background-color: #000;
    height: 1px;
    width: 100%;
    margin: auto ;
    margin-bottom: 50px;

}

.education .school{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.school .m-top {
    margin-top: 30px;
}

.school .course, .uni {
    width: 50%;
}



/* media queary */

@media (max-width: 1024px){
    .about {
        margin-top: 40px;
    }

    .about .photo{
        margin: 10px 30px;
        height: 450px;
        width: 440px;
        box-shadow: -3px 3px 10px;
    
    }
}

@media (max-width: 768px){

    .experiences h1 {
        font-size: 20px;
    }

  .about {
    margin: 0%;
  }

    .about {
        margin-top: 40px;
    }

    .about .photo{
        margin: 20px 30px;
        height: 450px;
        width: 440px;
        box-shadow: -3px 3px 10px;
        width: 300px;
        height: 300px;
    
    }

    .aboutme p, .experiences p {
        font-size: 13px;
    }
}

@media (max-width: 414px) {

    h1, h2, h3{
        font-size: 18px;
    }

    .uni h2{
        margin-bottom: 15px;
    }

    .experiences h1 {
        font-size: 20px;
    }

    .education .school {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .education .school .uni{
        width: 300px;
    }

    .education .school .course{
        width: 290px;
    }

}

@media (max-width: 375px){
    .landing {
        height: 700px;
    }
    .landing h1 {
        font-size: 25px;
    }
    .about {
        display: grid;
        grid-auto-flow: row;
    }
    .aboutme{
        width: 300px;
    }

    .aboutme h3 {
        font-size: 18px ;
    }

    .aboutme p {
        font-size: 10px;
    }

    .button {
    padding: 15px 15px;
    font-size: 13px;
    }


    .experiences h1 {
        font-size: 20px;
    }

    .education .school {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .education .school .uni{
        width: 300px;
    }

    .education .school .course{
        width: 290px;
    }

    @media (max-width: 320px){
        .landing {
            height: 600px;
        }

    .experiences h1 {
        font-size: 20px;
    }

        .education .school .course{
            width: 250px;
        }
    }


    

}